*{
    margin: 0px;
    padding: 0px;
    font-family: century gothic;
}

/* navbar start */
.nav-link{
    background-color: black;
    padding: 0px 40px;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding:5px 15px;
    position: relative;
}
.nav-link ul li a{
    color: rgb(223, 222, 222);
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    border-right: 1px solid white ;
    padding-right: 25px;
    border-spacing:1px;
    height: 1px;
}
nav-link ul li a:last-child{
    border-right:0px solid black;
}
/* navbar start */

/* header Start */
.header {
    width: 100%;
    display: flex;
    padding:15px 0px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header .logo{
     width:140px;
     height:50px;
     margin:-4px 40px;
}
.header .menu {
   margin-top:5px;
}
.header .menu li{
    display: inline-block;
    padding: 0px 20px;
}
.header .menu li:last-child{
    margin-right:5px;
}
.header .menu li a{
    text-decoration: none;
    color:black;
    font-size:16px;
}
.header li button{
    padding:10px 20px;
    background:#CCE500;
    font-weight: 600;
    border:1px solid #CCE500;
}
/* header end */

/* Background head section start */
.background {
   height:550px;
   background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)),url(Image/background.jpg), 100%;
   background-repeat: no-repeat;
   background-size: cover;
}
.background .bgtext{
text-align: center;
color:white;
font-family: 'Gentona';
font-size: 22px;
font-weight: 400;
padding:20px;
}
.background .bgtext p{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
}
.form-head{
    width: 400px;
    margin-left:50px;
    background-color: #f5f5f5;
    background-size: 100%;
    border-bottom: 1px  solid rgba(151, 151, 151, 0.1);
    box-shadow: 0px 0px 0px 0px #999999;
    border-radius:4px;
}
.form-head .form-menu{
    padding:10px 0px;
}
.form-head .form-menu button{
    padding:5px 15px;
    background:#CCE500;
    border: white;
    border-radius: 10px;
    margin-left: 25px;
}
.hr{
    border-top: gray;
}
.form-head h2{
    text-align: center ;
    font-size: 15px;
    margin-top: 20px;
 }
 .form-head p{
     font-size: 12px;
     text-align: center ;
     margin-top: 10px;
 }
.form-head .olaBook{
    padding:10px 18px;
}
.form-head input[type="text"]{
    width: 79%;
    background-color: rgb(223 222 222);
    padding: inherit;
    border: gray;
}
.form-head label[for="text"]{
    font-size: 30px;
}
 .banner{
    width: 92%; 
    margin:0px auto;
    background:white;
    border:1px solid #fff;
    display: block;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .banner .serviceinfo{
    background:white;
    display: inline-block;
    padding:20px 95px;
}
.banner .serviceinfo h2{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:Black; 
}
.banner .serviceinfo p{
    text-align: center;
    font-size: 14px;
    color:black; 
}
/* Background head section end */

/* Ola offers start */
.olapackages{
    margin-top:80px;
    padding:20px 0px 20px 34px;
}
.olapackages h2{
    font-size: 24px;
    font-weight: 600;
    color:#111110; 
    margin-left:25px;
}
.olapackages p{
    font-size: 12px;
    color:black; 
    margin-bottom:20px;
    margin-left:25px;
    text-align: justify;
}
.olapackages div{
    display: inline-block;
    width:30%;
    margin-left:22px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.olacitytaxi h3{
    font-size:18px;
    font-weight:600;
}
.olacitytaxi h3 , .olacitytaxi p {
    font-size:12px;
    color:black; 
    margin-bottom:20px;
    text-align: justify;
    padding:0px 10px;
    margin-left:0px;
}
/* Ola offers end */

/* ride with Ola start */

.olarid{
    margin: 0px auto;
    padding: 5px;
    margin-left: 50px;	
}
.olarid h2{
    font-size: 24px;
    font-weight: 600;
    color:#0a0a0a; 
}
.olarid p{
    font-size: 16px;
    color: rgb(155, 148, 148); 
    margin-bottom: 20px;
}
.olarid .images{
    width:10%;
    border-radius: 6px;
 }

.olarid ul li{
    display: inline-block;
    width:38% ;
    padding-bottom:20px;
}
 
 .olarid ul li h3{
    color: rgb(15, 15, 15);
    font-size: 20px;
}
.olarid ul li p{
    font-size: 16px;
    color: rgb(155, 148, 148);
}
/* ride with Ola start */

/* Awesome Fleet start */
.fleetimg{
    margin: 0px auto;
    margin-left: 50px;
    /* border: 1px solid brown; */
}
.fleetimg h2{
    font-size: 24px;
    font-weight: 600;
    color:black; 
}
.fleetimg p{
    font-size: 16px;
    color: rgb(155, 148, 148); 
}
.fleetimg .car{
    width: 5%;
    border-radius: 100%; 
    padding: 0px 20px;
    margin:30px;
}
.fleetimg .car:hover{
    width: 5%;
    background:#CCE500 ;
    border-radius: 100%; 
}

.fleetimg ul li{
    display: inline-block;
}
/* Awesome Fleet end */

/* prime sedan start */
.prime{
    background:rgb(224, 221, 221);
    display:inline-flex;
       
}
.prime .sedan{
    padding-inline: 80px;
}

.prime .primedetails{
    padding-top: 120px;
    width: 20%;
    float: left;
    line-height: 1.8;
}
.prime .primedetails h3{
    font-size: 25px;
    font-weight: 600;
}
/* prime sedan end */

/* Book an Ola start */
.bookola{
    /* border:1px solid red ; */
    background:rgb(248, 245, 245);
    display: inline-block;
    box-shadow: 10px 8px 10px 8px #80808030;;
}
.bookola .booknow{
    width: 50%;
    float: left;
    margin-top:40px ;
    margin-left: 45px;
    
}
.bookola .firstbook{
    width: 35%;
    float: left;
    margin-left: 20px;
    
}
/* Book an Ola end */

/* Customer Support start */
.customer{
    background:white;
    border:1px solid white;
    display: inline-flex;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customer .support{
    background:white;
    display: inline-block;
    padding: 30px 30px;
}
.customer .support h2{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:black; 
}
.customer .support p{
    text-align: center;
    font-size: 16px;
    color:black; 

}
/* Customer Support end */

/* footer section start */
footer{
    background:rgb(34, 33, 33);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
    color: white;
}
.f-logo{
    color: white;
    font-size: 15px;
    padding: 5px 5px;
}
.up-section ul{
    list-style: none;
    font-family: calibri;
    margin: 0px;
    line-height: 20px;
    padding: 0px 20px;
    color:white;
}
.up-section h3{
    color: white;
    font-size: 15px;
}
.up-section ul li {
    font-size: 10px;
    color: white;
}
.up-section {
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    width: 90%;
    flex-wrap: wrap;
}
.middle-section{
    display: flex;
    padding: 3% 0px;
    width: 90%;
    flex-wrap: wrap;
}
.middle-section .socialimg{
    height: 3%;
    width: 3%;
    padding: 0px 20px;
    /* margin: 0px 30px; */
    margin-left: 100px;
    
}
.middle-section .country{
   background: none;
   color: white;
   width: 200px;
   margin-left: 200px;
}

/* footer section end */

